:root {--primary-text-color:#212121;
    --text-color:#2196F3;
--main-text-color:#757575;


}
body { font-family: Roboto;
    border-color:#F5F5F5;}

.logo{font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1,2;
   color:#2196F3;
    
    }
     
 .site-nav-current {color: var(--text-color);
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        }
.site-nav{font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    color: var(--primary-text-color);}
    .site-nav-current:hover,
    .site-nav-current:focus{
        color: var(--primary-text-color);}
.nav-link{color: var(--text-color);}

.nav-link:hover,
.nav-link:focus{
    color: var(--primary-text-color);
    }
.contact-link{color: var(--main-text-color);}
/*hero*/

.hero-title{color: #ffffff;}

/*section*/

.section-title{color: #2F303A;
    }
.button-link{color: #FFFFFF;}
/*feature*/
.feature-list-title{color: #212121;}
.feature-list-text{color: #757575;}
