:root {
  --primary-text-color: #212121;
  --text-color: #2196f3;
  --main-text-color: #757575;
  --accent-color: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
}
/*heder*/
.logo-link {
  font-family: "Raleway",sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--text-color);
}
.logo-heder {color: var(--primary-text-color);}

.site-nav-current {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}
.site-nav {color: var(--primary-text-color);
  font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1,1;


}
.site-nav:hover,
.site-nav:focus{color: var(--accent-color);
background-color: var(--text-color);}
.site-nav-current:hover,
.site-nav-current:focus {
  color: var(--text-color);
}
.nav-link {
color: var(--main-text-color);
font-family: Roboto;
font-style: Medium;
font-size:14px;
line-height:1,1;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--text-color);
}

/*hero*/

.hero-title {
color: var(--accent-color);
font-family: Roboto;
font-size:44px;
line-height:1.4;
text-align:Center;
}

/*section*/

.section-title {
  color: #2f303a;
}

/*h3*/
.feature-list-title {
  color: var(--primary-text-color);
  font-family: Roboto
  font-style: 700;
  font-size: 14px;
  line-height: 1.1;
}
.text {
  color: var(--main-text-color);
}

/*button*/
.btn-primary {
  color: var(--accent-color);
  background-color: var(--text-color);
  cursor: pointer;
  font-family: Roboto
  font-style:700;
  font-size: 16px;
  line-height: 1.8; 
}

.btn {color: var(--primary-text-color);
  cursor: pointer;
  font-family: Roboto;
 font-style: Medium;
 font-size: 16px;
 line-height: 1.6;
}
.btn:hover,
.btn:focus {color: var(--accent-color);
  background-color:  var(--text-color);}
/*h2*/
.caption {
  color: var(--primary-text-color);
}
.tagline {
  color: var(--main-text-color);
}
/*footer*/

.footer-contact {color:rgba(255,255,255,0.6);}